
@font-face {
    font-family: 'young-serif',serif;
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}
@font-face {
    font-family: 'Outfit' ;
    src: url('assets/fonts/outfit/static/Outfit-Light.ttf') 
}
body{
     padding: 1rem;
     background-color: hsl(30, 54%, 90%);
     font-family: 'Outfit' ;
     display: flex;
     flex-direction: column;
     align-items: center;
}

main{
    background-color:  hsl(0, 0%, 100%);
    padding: 30px;
    width: 750px;
    margin: 50px 50px;
    border-radius: 15px;
    color: hsl(30, 10%, 34%);
   
}
h1{
    font-family: 'young-serif',serif;  
    color: black;
   
}
h2{
    color:hsl(14, 45%, 36%);  
    font-size: 32px; 
    font-family: 'young-serif',serif;
}
#img{
    text-align: center;
    
}
img{
    border-radius: 15px;
    margin: 10px;
    
}

.preparation-time{
    background-color: hsl(330, 100%, 98%);
    padding: 15px;
    margin: 15px 5px;
    border-radius: 10px;
}
.preparation-time h2{
    color: hsl(332, 51%, 32%);
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 1.5rem;
}
.preparation-time ul li{
    list-style: disc;
    list-style-position: inside;
    margin: 15px;

}
.ingredients ul li{
list-style-type: disc;
margin: 15px;
text-indent: 2rem;
}

.instructions ol li{
    list-style-type: decimal;
    text-indent: 2rem;
    line-height: 1.5rem; 
    margin: 15px;
    text-align: justify;
}
.nutrition {
    background-color: white;
    border: 1px solid gray;
}
.nutrition th,td{
    padding: 10px;
    width: 500px;
    font-weight: 600;
    border: 1px solid hsla(30, 18%, 87%, 0.632);
    
}
.nutrition th{
    text-align: left;
}
.nutrition td{
 color:hsl(332, 51%, 32%); 
 
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }